button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
@include vp-transition(all 0.4s);



}

button.accordion.active, button.accordion:hover {
  background: #e0e0e0;

}

button.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2212";
}

div.panel {
  background-color:#eeeeee;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  md-list{
    padding:0;
    width:100%;
  }

  md-list-item{
    cursor: pointer;
    background: white;
    border-bottom:1px solid rgba(0,0,0,0.12);
    color:#555;
    font-size: .8em;
  }


}
.accordion-icons{

  margin-top:-6.5px;
}