@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
/*
 * Mixin printing a linear-gradient
 * as well as a plain color fallback
 * and the `-webkit-` prefixed declaration
 * @access public
 * @param {Keyword | Angle} $direction - Linear gradient direction
 * @param {Arglist} $color-stops - List of color-stops composing the gradient
 *
 * @see https://www.sitepoint.com/building-linear-gradient-mixin-sass/
 */
/*mixins */
/*  mixins son */
/*.deneme{

  @include vp-align-content(strech);

  @include vp-display(flex);
}*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.searchtext {
  background: #ffffff;
  height: 40px !important;
  width: 100%;
  min-width: 240px !important;
  color: #2c3e50;
  border: 0 !important;
  outline: 0 !important; }
  .searchtext ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #8a8a8a; }
  .searchtext ::-moz-placeholder {
    /* Firefox 19+ */
    color: #8a8a8a; }
  .searchtext :-ms-input-placeholder {
    /* IE 10+ */
    color: #8a8a8a; }
  .searchtext :-moz-placeholder {
    /* Firefox 18- */
    color: #8a8a8a; }

#searchbox {
  top: 1em;
  left: 1em;
  position: fixed;
  z-index: 60;
  overflow: hidden;
  padding: .2em;
  padding-left: 0;
  background: #ffffff;
  border-radius: 3px; }
  #searchbox md-icon {
    cursor: pointer;
    text-align: center;
    background: #ffffff !important;
    color: #2c3e50;
    border: 0 !important;
    outline: 0 !important;
    height: 35px !important;
    margin-top: 2.5px;
    border-left: 1px solid #ecf0f1 !important;
    transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }
    #searchbox md-icon:hover {
      /*background-color: $md-iconBGColorHover !important;*/ }
      #searchbox md-icon:hover i {
        color: #2c3e50; }
    #searchbox md-icon:nth-child(1) {
      margin-top: 0;
      border-left: 0 !important; }
    #searchbox md-icon md-menu-bar {
      padding: 0; }
    #searchbox md-icon i {
      color: #757575; }
      #searchbox md-icon i:nth-child(1) {
        margin-top: -1px !important; }
  #searchbox md-input-container {
    height: 40px !important;
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
    vertical-align: middle; }
    #searchbox md-input-container input {
      background: #ffffff; }

left-menu {
  position: fixed;
  left: .25em;
  bottom: 2em;
  z-index: 2;
  border-radius: 5%; }
  left-menu #top1 {
    transition-delay: 3s !important; }

right-top-menu {
  position: fixed;
  right: .25em;
  top: .25em;
  z-index: 4; }

.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }

.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

md-sidenav {
  background: #ecf0f1 !important;
  width: 425px !important; }
  md-sidenav md-content {
    background: #ecf0f1 !important; }

.md-toolbar-tools {
  background: #2196f3;
  /*#2980b9;    */ }

#plus {
  background: #ffffff; }

button.md-fab:not(#plus) {
  background: #ffffff !important; }
  button.md-fab:not(#plus) md-icon {
    border: 0 !important; }
  button.md-fab:not(#plus) md-icon:hover {
    background: inherit !important; }

.denemetoggle {
  border: 4px solid rebeccapurple; }

md-tooltip {
  color: white !important;
  font-size: 1em;
  border-radius: 5px; }

.dialogdemoThemeInheritance .container {
  text-align: center; }

md-dialog {
  width: 50%; }

md-menu-item md-icon {
  background: none !important;
  border: none !important; }

/*

grid destekliyorsa baslangıç


 */
@supports (display: grid) {
  .gridMain, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11 {
    display: grid;
    grid-gap: 1em; }

  .grid-1 {
    grid-template-columns: repeat(1, 1fr); }
    .grid-1:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-2 {
    grid-template-columns: repeat(2, 1fr); }
    .grid-2:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-3 {
    grid-template-columns: repeat(3, 1fr); }
    .grid-3:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-4 {
    grid-template-columns: repeat(4, 1fr); }
    .grid-4:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-5 {
    grid-template-columns: repeat(5, 1fr); }
    .grid-5:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-6 {
    grid-template-columns: repeat(6, 1fr); }
    .grid-6:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-7 {
    grid-template-columns: repeat(7, 1fr); }
    .grid-7:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-8 {
    grid-template-columns: repeat(8, 1fr); }
    .grid-8:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-9 {
    grid-template-columns: repeat(9, 1fr); }
    .grid-9:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-10 {
    grid-template-columns: repeat(10, 1fr); }
    .grid-10:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-11 {
    grid-template-columns: repeat(11, 1fr); }
    .grid-11:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; } }
/*


grid destek son
 */
/*


grid destek vermiyorsa baslangıc
 */
@supports not (display: grid) {
  .grid-1 {
    width: calc(100% / 1 - 1 * 1em);
    margin: 1em;
    display: inline-block; }
    .grid-1:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-2 {
    width: calc(100% / 2 - 2 * 1em);
    margin: 1em;
    display: inline-block; }
    .grid-2:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-3 {
    width: calc(100% / 3 - 3 * 1em);
    margin: 1em;
    display: inline-block; }
    .grid-3:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-4 {
    width: calc(100% / 4 - 4 * 1em);
    margin: 1em;
    display: inline-block; }
    .grid-4:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-5 {
    width: calc(100% / 5 - 5 * 1em);
    margin: 1em;
    display: inline-block; }
    .grid-5:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-6 {
    width: calc(100% / 6 - 6 * 1em);
    margin: 1em;
    display: inline-block; }
    .grid-6:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-7 {
    width: calc(100% / 7 - 7 * 1em);
    margin: 1em;
    display: inline-block; }
    .grid-7:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-8 {
    width: calc(100% / 8 - 8 * 1em);
    margin: 1em;
    display: inline-block; }
    .grid-8:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-9 {
    width: calc(100% / 9 - 9 * 1em);
    margin: 1em;
    display: inline-block; }
    .grid-9:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-10 {
    width: calc(100% / 10 - 10 * 1em);
    margin: 1em;
    display: inline-block; }
    .grid-10:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-11 {
    width: calc(100% / 11 - 11 * 1em);
    margin: 1em;
    display: inline-block; }
    .grid-11:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; }

  .grid-12 {
    width: calc(100% / 12 - 12 * 1em);
    margin: 1em;
    display: inline-block; }
    .grid-12:before {
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      content: "";
      right: 30px;
      transform: rotate(45deg);
      top: -7.5px; } }
/*


grid destek vermiyorsa son
 */
drop-down-menu md-menu-content md-icon {
  border-left: none !important;
  background: red !important; }

.modulButon {
  padding: 5px;
  margin: 2px;
  border: 1px solid #ffffff;
  cursor: pointer;
  text-align: center; }

.modulButon:hover {
  border: 1px solid #f2f2f2; }

page-login .md-button {
  line-height: 0 !important; }

md-contextmenu {
  position: fixed;
  z-index: 65;
  height: auto;
  text-align: center; }
  md-contextmenu md-button {
    line-height: 0; }

.deneme {
  background: cadetblue;
  color: #ffffff;
  height: 60px;
  width: 150px;
  position: absolute;
  z-index: 99;
  top: 150px;
  left: 150px; }

md-custom-toast {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 250px;
  z-index: 61;
  background: #e91e63;
  color: #ecf0f1;
  line-height: 1em;
  transition: all 1s; }
  md-custom-toast i {
    cursor: pointer;
    position: relative;
    top: -10px;
    color: #ecf0f1; }

.mdCustomToastHide {
  opacity: 0.5;
  bottom: -100px !important; }

.md-myfab {
  z-index: 21;
  position: absolute;
  left: 0.3em;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  bottom: 0.25em;
  outline: 0;
  border: 1px dashed #ecf0f1; }

all-fab-dials {
  position: absolute;
  bottom: 0;
  left: 5em; }

@media (min-width: 600px) {
  md-sidenav {
    max-width: 425px !important; } }
@media screen and (max-width: 600px) {
  #searchbox {
    left: 2.5%;
    width: 95%; }
    #searchbox md-icon {
      width: 50px; }
    #searchbox md-input-container {
      width: calc(90% - 40px) !important;
      overflow: hidden; }

  left-menu #plus {
    height: 40px;
    width: 40px; }
  left-menu .md-button.md-fab:not(#plus) {
    padding: 0;
    height: 25px !important;
    width: 35px !important; } }
@media screen and (max-width: 400px) {
  md-toast {
    width: 95% !important;
    left: 6px !important; } }
@media screen and (max-width: 360px) {
  #searchbox {
    left: 2.5%;
    width: 95%; }
    #searchbox md-icon {
      width: 15%;
      min-width: 40px; }

  md-input-container {
    width: calc(90% - 40px);
    overflow: hidden; }

  md-toast {
    width: 95% !important;
    left: 9px !important; } }
.certainly-full {
  width: 100% !important; }

.ng-leave {
  transition: 0.45s cubic-bezier(0.4, 0, 0.2, 1) all;
  opacity: 1; }

md-toast .ng-leave {
  left: 0px;
  transition: all .50s;
  transition-delay: .15s; }
md-toast .ng-leave-active {
  height: 0;
  left: -100%; }

.ng-leave-active {
  opacity: 0;
  left: -10em; }

.ripple-effect {
  transition: all ease-out 0.5s;
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
  position: absolute;
  padding: 1em;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  animation-name: myanime;
  animation-duration: 0.5s; }

@keyframes myanime {
  0% {
    opactiy: 0;
    transform: scale(0.1); }
  100% {
    opacity: .1;
    transform: scale(5); } }
::-webkit-scrollbar {
  width: .75em; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }

.md-button:disabled {
  cursor: not-allowed !important; }

#searchbox * {
  /* @include vp-user-select(none);*/ }

md-slider-container {
  position: fixed;
  left: -0.5em;
  bottom: 100px;
  width: 80px;
  height: 150px;
  z-index: 100; }

.borderFabdial_active {
  box-shadow: 0 0 7px #444 !important;
  border: 2px solid #ffffff; }

.borderFabdial_active2 {
  box-shadow: 0 0 7px #f00 !important;
  border: 2px solid #ffffff; }

.pluginbutton {
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 23; }

.red {
  background: #f44336; }

.blue {
  background: #2196f3; }

.lightblue {
  background: #2196f3 !important; }

.textWhite {
  background: #ffffff; }

label.radioLayers {
  position: relative;
  display: block;
  cursor: pointer; }
  label.radioLayers input {
    position: absolute;
    z-index: 2;
    left: -9999px; }
  label.radioLayers .span1 {
    border: 1px solid #fff;
    position: relative;
    background: transparent;
    border-radius: 5%;
    width: 20px;
    height: 16px;
    display: inline-block;
    content: "";
    transition: all 0.25s; }
  label.radioLayers .span2 {
    background: #e0e0e0;
    height: 16px;
    width: 16px;
    top: -2px;
    position: absolute;
    display: inline-block;
    border-radius: 100%;
    transition: all .25s;
    left: -2px; }
  label.radioLayers input[type="radio"]:checked + .span1 > .span2 {
    background: #63afc9;
    box-shadow: 0 0 15px #63afc9;
    border: 2px solid #fafafa;
    box-sizing: border-box; }

.vectorLayerBox {
  width: 100%;
  min-width: 350px; }
  .vectorLayerBox thead {
    width: 100%; }
    .vectorLayerBox thead tr {
      padding: 0.5em;
      background: deepskyblue; }

.vectorLayerIcons {
  width: 1em;
  opacity: 0.7;
  cursor: pointer;
  outline: none; }
  .vectorLayerIcons:hover {
    opacity: 1; }

.iconActive {
  filter: grayscale(100%); }

.vectorLayerName {
  font-size: 13px;
  color: #2c3e50; }
  .vectorLayerName td {
    width: 22px; }

md-toast {
  display: flex;
  z-index: 15;
  height: 100vh;
  /*sonradn oynama yapılacak*/
  width: 390px;
  display: inline-flex;
  max-height: 85vh;
  /* max height verildi scrool olması için */
  overflow-y: auto;
  background: #ffffff; }
  md-toast .md-toast-content {
    text-align: left;
    background: #ffffff;
    width: 100% !important;
    padding: 3px !important; }
    md-toast .md-toast-content md-icon {
      outline: none;
      cursor: pointer; }
  md-toast form {
    margin-top: -62px;
    margin-left: -11px;
    margin-right: -11px;
    /*-3px eski değeri*/
    padding: 0; }
  md-toast .searchButton {
    background-color: #2196f3 !important; }
    md-toast .searchButton md-icon {
      color: #f4f7fa !important; }
  md-toast .closeButton {
    margin-right: 20px !important;
    background-color: #F5F5F5 !important;
    /*#dadada*/
    color: #7d7d7d !important; }
  md-toast .breakAll {
    word-break: break-all; }

md-toast#drawTool .md-toast-content {
  color: #34495e; }

md-toast#menuToasts, md-toast#findProprietary, md-toast#fndBldLsToast, md-toast#calculatebymanuel, md-toast#calculatearea, md-toast#findInstByaddress, md-toast#findSecByAddress, md-toast#findMyDoctor, md-toast#findbusandminibus, md-toast#findTrainTram, md-toast#findShipToast, md-toast#aircrafttToast {
  position: fixed;
  top: 58px;
  left: 1em;
  /* 10px;*/
  max-width: 390px;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 20; }
  md-toast#menuToasts .md-toast-content, md-toast#findProprietary .md-toast-content, md-toast#fndBldLsToast .md-toast-content, md-toast#calculatebymanuel .md-toast-content, md-toast#calculatearea .md-toast-content, md-toast#findInstByaddress .md-toast-content, md-toast#findSecByAddress .md-toast-content, md-toast#findMyDoctor .md-toast-content, md-toast#findbusandminibus .md-toast-content, md-toast#findTrainTram .md-toast-content, md-toast#findShipToast .md-toast-content, md-toast#aircrafttToast .md-toast-content {
    width: 400px;
    height: auto !important;
    display: inline-table;
    color: #2196f3; }
  md-toast#menuToasts h2, md-toast#findProprietary h2, md-toast#fndBldLsToast h2, md-toast#calculatebymanuel h2, md-toast#calculatearea h2, md-toast#findInstByaddress h2, md-toast#findSecByAddress h2, md-toast#findMyDoctor h2, md-toast#findbusandminibus h2, md-toast#findTrainTram h2, md-toast#findShipToast h2, md-toast#aircrafttToast h2 {
    color: #fff; }

#findParcelToast md-input-container {
  margin-bottom: -20px;
  margin-top: 4px; }

md-toast#findProprietary md-input-container {
  margin-top: 5px;
  margin-bottom: -20px; }

#listLtdLng md-input-container {
  height: 15px; }

#closeDrawToast {
  margin-left: 3px;
  cursor: pointer; }
  #closeDrawToast:hover {
    color: red; }

.grayfilter {
  filter: grayscale(100%);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }
  .grayfilter:hover {
    filter: grayscale(0%); }

button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

button.accordion.active, button.accordion:hover {
  background: #e0e0e0; }

button.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

button.accordion.active:after {
  content: "\2212"; }

div.panel {
  background-color: #eeeeee;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }
  div.panel md-list {
    padding: 0;
    width: 100%; }
  div.panel md-list-item {
    cursor: pointer;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: #555;
    font-size: .8em; }

.accordion-icons {
  margin-top: -6.5px; }

#measureDivIcon {
  display: inline-flex;
  margin-left: 20px;
  background-color: #939393;
  padding: 4px;
  border-radius: 20px;
  color: #fff;
  border: 1px solid #777;
  width: auto; }

/*

sidenav için açılan transparan backdrop kapatıldı
*/
/*
md-backdrop.md-sidenav-backdrop{

  display:none;
}
*/
/*
#findAdressDialog{

  position: fixed;
  top: 55px;
  left: 10px;
  width: 390px;
  padding: 0;
  margin: 0;
}

#findParcellDialog{

 @extend #findAdressDialog;

}

#nearestTaxiDialog{

  @extend #findAdressDialog;
}

#findTaxiAtAdress{


  @extend #findAdressDialog;
}

@media screen and (max-width:360px ) {

  #findAdressDialog{

    width:95%;
  }


}

.md-dialog-container{



}
*/
md-switch.md-checked .md-bar {
  background-color: #81d4fa; }

md-switch.md-checked .md-thumb {
  background-color: #03a9f4; }

iframe {
  width: 100%;
  min-height: 50vh; }

#plsButton {
  margin-top: -26px; }

#listLtdLngBtn {
  margin-top: -5px; }

#rotaPlusIcon {
  position: relative;
  top: -12px;
  left: -5px;
  padding: 0;
  margin: 0;
  color: black; }
  #rotaPlusIcon md-icon {
    margin-top: 2px;
    color: #009688; }

md-menu-bar md-menu > button:focus {
  background: transparent; }

md-menu-bar md-menu > button:active {
  background: transparent; }

#calculatebymanuel md-list {
  max-height: 65vh; }

#mdFabSpeedDial {
  margin-left: -1.5em; }

/* deneme sasslar için projede yoktur */
.mdlocation {
  position: fixed;
  right: 0.25em;
  bottom: 2em;
  z-index: 21; }

/*

 */

/*# sourceMappingURL=angular_material_sass.css.map */
