

@media screen and (max-width: 360px) {

  #searchbox {

    left: 2px;
    width: 98%;

    md-icon {

      width: 15%;
      min-width: 40px;
    }

  }

  md-input-container {

    width: calc(90% - 40px) !important;
    overflow: hidden;

  }

  md-toast{


    width:95% !important;
 left:9px !important;
  }

}


@media screen and (max-width: 400px) {

  md-toast{
    width:95% !important;
    left:6px !important;

  }

}
@media screen and (max-width: 600px) {

  #searchbox {

    width: calc(100% - 1em);

    md-icon {

      width: 50px;

    }

    md-input-container {

      width: calc(90% - 40px) !important;
      overflow: hidden;

    }

  }


  left-menu{


    #plus{

      height:30px;
      width:30px;
    }

    .md-button.md-fab:not(#plus){

      padding:0;
      height: 25px !important;
      width:35px !important;
    }
  }

}

.certainly-full {

  width:100% !important;
}


