#findAdressDialog{

  position: absolute;
  top:55px;
  left: 8px;
  max-width: 390px;
}

#findParcellDialog{

 @extend #findAdressDialog;

}


@media screen and (max-width:360px ) {

  #findAdressDialog{

    width:95%;
  }


}