<md-toast md-whiteframe="2"   id="drawTool">
 <span class="md-toast-text" flex>{{lang.toolEdit.label}}</span>
<md-menu-bar style="padding: 0;">
    <md-menu>
        <!-- Trigger element is a md-button with an icon -->
        <md-button  flex layout-align="center center" ng-click="$mdOpenMenu()"  aria-label="Open sample menu">
            <i  layout-padding class="material-icons">menus</i>
        </md-button>
        <md-menu-content style="min-width:auto !important;">
            <md-menu-item><md-button ng-click="doSomething()">Do Something</md-button></md-menu-item>
            <md-menu-item>
                <md-menu>
                    <md-button ng-click="$mdOpenMenu()">Link2</md-button>
                    <md-menu-content style="min-width:auto !important;">
                        <md-menu-item>
                            <md-button>Document</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>File</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-item>
            <md-menu-item>
                <md-menu>
                    <md-button ng-click="$mdOpenMenu()">Link2</md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button>Document</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>File</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-item>
            <md-menu-item><md-button ng-click="doSomething()">Do Something</md-button></md-menu-item>
            <md-menu-item><md-button ng-click="doSomething()">Do Something</md-button></md-menu-item>
            <md-menu-item><md-button ng-click="doSomething()">Do Something</md-button></md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>
    <md-button style="padding: 0; margin: 0;" ng-repeat="(ozellik, deger) in icons" class="md-icon-button test-tooltip" aria-label="Refresh">
        <md-tooltip md-direction="bottom">{{deger.label}}</md-tooltip>
    <md-icon style="padding: 3px; margin-left:3px;" ng-class="{'grayfilter':!deger.active}" ng-click="factoryMethod(deger.function)" md-svg-src="{{deger.img}}">

    </md-icon>
    </md-button>
    <md-button class="md-icon-button test-tooltip" aria-label="Refresh" id="closeDrawToast" ng-click="closeToast()" md-svg-src="img/icons/plus.svg">
        <md-tooltip>{{lang.general.close}}</md-tooltip>
        <i class="material-icons">close</i>
    </md-button>
</md-toast>