<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{lang.vlList.dialogs.addNewVecLay.label}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:100%;max-height:600px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{lang.vlList.dialogs.addNewVecLay.tab1.label}}">
                    <md-content class="md-padding">
                        <md-list>
                            <md-list-item md-ink-ripple class="md-3-line" ng-repeat="(ozellik, deger) in layers">
                                <div md-link-riple class="md-list-item-text" layout="row">
                                    <div md-link-ripple="#000" flex="75">{{deger.label}}</div>
                                    <div flex="25">
                                        <md-button ng-click="addToVectorList(deger.id)" ng-disabled="deger.atlist"
                                                   class="md-raised md-primary md-button md-ink-ripple">
                                            {{deger.atlist==true ? lang.general.have:lang.general.add}}
                                        </md-button>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
                <md-tab label="{{lang.vlList.dialogs.addNewVecLay.tab2.label}}">
                    <md-content class="md-padding">
                        <md-list>
                            <md-list-item md-ink-ripple class="md-3-line" ng-repeat="(ozellik, deger) in vectorLayers">
                                <div md-link-riple class="md-list-item-text" layout="row">
                                    <div md-link-ripple="#000" flex="75">{{deger.label}}</div>
                                    <div flex="25">
                                        <md-button ng-click="addToVectorList(deger.id)" ng-disabled="deger.atlist"
                                                   class="md-raised md-primary md-button md-ink-ripple">
                                            {{deger.atlist==true ? lang.general.have:lang.general.add}}
                                        </md-button>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised  md-button md-ink-ripple" ng-click="createNewVectorLayer($event);"
                       style="background-color:#8BC34A;color:white; margin-right:20px;">
                {{lang.vlList.dialogs.addNewVecLay.createNewLayer}}
            </md-button>
            <md-button class="md-raised md-warn  md-button md-ink-ripple" ng-click="answer('useful')"
                       style="margin-right:20px;">
                {{lang.general.close}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>