<md-dialog id="findaddress" aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Adres Bulma Paneli</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="style:100%">

            <md-list>

                {{deneme}}
                <md-list-item>

                    <md-input-container layout-fill>
                        <md-select ng-model="secilenIl">
                            <md-select-header>
                                <span> İller </span>
                            </md-select-header>
                            <md-option ng-value="deger.id"  ng-click="changeIlce(deger.id)" ng-repeat="(ozellik, deger) in il">{{deger.label}}</md-option>

                        </md-select>
                        {{navbarCtrl.ilce}}
                    </md-input-container>

                </md-list-item>

                <md-list-item ng-if="isActiveIlce">
                <md-input-container layout-fill>
                    <md-select   ng-model="secilenIlce">
                        <md-select-header>
                            <span> İlçeler - </span>
                        </md-select-header>
                        <md-option ng-value="deger.id"  ng-click="changeMahelle(deger.id)" ng-repeat="(ozellik, deger) in filterIlce">{{deger.label}}</md-option>
                    </md-select>
                </md-input-container>
                </md-list-item>


                <md-list-item ng-if="isActiveMahalle">
                    <md-input-container layout-fill>
                        <md-select   ng-model="secilenMahalle">
                            <md-select-header>
                                <span> Mahalleler - </span>
                            </md-select-header>
                            <md-option ng-value="deger.id"  ng-click="changeYol(deger.id)" ng-repeat="(ozellik, deger) in filterMahalle">{{deger.label}}</md-option>
                        </md-select>
                    </md-input-container>
                </md-list-item>


                <md-list-item ng-if="isActiveYol">
                    <md-input-container layout-fill>
                        <md-select   ng-model="secilenYol">
                            <md-select-header>
                                <span> Yollar - </span>
                            </md-select-header>
                            <md-option ng-value="deger.id"  ng-click="changeKapiNo(deger.id)" ng-repeat="(ozellik, deger) in filterYol">{{deger.label}}</md-option>
                        </md-select>
                    </md-input-container>
                </md-list-item>


                <md-list-item ng-if="isActiveNumarataj">
                    <md-input-container layout-fill>
                        <md-select   ng-model="secilenYol">
                            <md-select-header>
                                <span> Kapı No - </span>
                            </md-select-header>
                            <md-option ng-value="deger.id"  ng-click="showKapiNo(deger.id)" ng-repeat="(ozellik, deger) in filterNumarataj">{{deger.label}}</md-option>
                        </md-select>
                    </md-input-container>
                </md-list-item>

              <!--  <md-list-item>
                    <md-input-container layout-fill>
                        <md-select  ng-model="someModel">
                            <md-select-header>
                                <span> Neighborhoods - </span>
                            </md-select-header>
                            <md-option ng-value="opt">seçenek1</md-option>
                            <md-option ng-value="opt1">seçenek1</md-option>
                            <md-option ng-value="opt2">seçenek1</md-option>
                            <md-option ng-value="opt3">seçenek1</md-option>
                        </md-select>

                    </md-input-container>


                </md-list-item>-->
            </md-list>



        </md-dialog-content>

        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="answer('not useful')" >
                Not Useful
            </md-button>
            <md-button class="md-raised md-warn md-button md-ink-ripple md-button" ng-click="cancel()" style="margin-right:20px;" >
                {{lang.general.close}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
