<page-login>
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{lang.login.login}}">
                    <md-content class="md-padding" flex layout="row" layout-align="center center">
                        <img hide-xs flex="25" layout-fill src="img/png/unlock-icon.png"></img>
                        <md-list layout-margin flex="75" flex-xs="100">
                            <md-list-item>
                                <h1 class="md-title">{{lang.login.signinForm}}</h1>
                            </md-list-item>
                            <md-list-item>

                            </md-list-item>
                            <md-list-item>

                                <md-input-container layout-fill flex-xs="100">
                                    <input required type="text" placeholder="username" ng-model="loginUser">
                                </md-input-container>
                            </md-list-item>
                            <md-list-item>

                                <md-input-container layout-fill flex-xs="100">
                                    <input required type="password" placeholder="password" ng-model="loginPass">
                                </md-input-container>
                            </md-list-item>

                            <md-list-item>
                                <!--başlabgıç-->
                                <md-dialog-actions layout="row">
                                    <span flex></span>
                                    <md-button ng-disabled="!loginUser || !loginPass" loginbutton bg-color="#5fceca" front-color="white" class="md-raised  md-button md-ink-ripple md-button"
                                               style="margin-right:20px;">
                                        login
                                    </md-button>
                                    <md-button class="md-raised md-primary" id="hide" ng-click="cancel()">
                                        {{lang.general.ignore}}
                                    </md-button>
                                </md-dialog-actions>
                                <!--son-->
                            </md-list-item>
                        </md-list>



                    </md-content>
                </md-tab>
                <md-tab label="{{lang.general.signup}}">
                    <md-content class="md-padding">
                        <h3 layout-padding class="md-title">{{lang.login.signUpForm}}</h3>
                        <md-content layout-padding class="md-no-momentum">
                            <md-input-container class="md-icon-float md-block">
                                <label>{{lang.login.name}}</label>
                                <input required ng-model="user.name" type="text">
                            </md-input-container>

                            <md-input-container class="md-block">
                                <input ng-model="user.phone" required type="text"
                                       placeholder="{{lang.login.phoneNumber}}">
                            </md-input-container>

                            <md-input-container class="md-block">
                                <input ng-model="user.email" type="email" placeholder="{{lang.login.email}}"
                                       ng-required="true">
                            </md-input-container>


                            <md-input-container class="md-block">
                                <input required ng-model="user.address" type="text" placeholder="{{lang.login.adress}}">
                            </md-input-container>

                            <md-input-container class="md-block">
                                <md-checkbox ng-model="user.contract" style="float:left;"></md-checkbox>
                                <div ng-bind-html="agreement"></div>
                            </md-input-container>

                            <md-button registerbutton
                                       ng-disabled="!user.address || !user.email || !user.phone ||  !user.name || !user.contract"
                                       class="md-raised md-primary">{{lang.login.login}}
                            </md-button>
                            <md-button class="md-raised md-primary" id="hide" ng-click="cancel()">
                                {{lang.general.ignore}}
                            </md-button>

                        </md-content>


                        <md-answer layout-padding layout-align="center center">


                        </md-answer>

                    </md-content>
                </md-tab>

                <md-tab label="three">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Three</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere
                            molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit
                            erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac
                            est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>

</page-login>


