<md-dialog id="nearestTaxiDialog" aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Mango (Fruit)</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequuntur deleniti, dolorum eaque eos error eveniet expedita explicabo fuga iure magnam, maiores non quae reprehenderit repudiandae rerum ullam ut voluptate.

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>

            <md-button class="md-raised md-warn md-button md-ink-ripple md-button" ng-click="cancel()" style="margin-right:20px;" >
                {{lang.general.close}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
