<md-dialog aria-label="Veritabanı kayıt veriler">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Veritabanı kayıt veriler</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">



                <md-list>


                    <md-list-item flex md-ink-ripple>



                    </md-list-item>
                    <md-list-item flex md-ink-ripple>



                    </md-list-item>


                </md-list>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <span flex></span>
            <!--<md-button ng-click="answer('not useful')">
                Not Useful
            </md-button>-->
            <md-button class="md-raised md-warn md-button md-ink-ripple" ng-click="answer('useful')">
              Kapat
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>