<md-icon id="menus" class="menuIcon" ng-click="toggleLeft()" layout-fill>
    <i layout-padding class="material-icons">menus</i>
    <md-tooltip>{{lang.searchBox.btnMenuOnOff}}</md-tooltip>
</md-icon>
<md-input-container>
    <input required autocomplete="on" layout-padding ng-keypress="$event.keyCode==13 ? searchAdress(searchInput):null"
           ng-model="searchInput" placeholder="{{lang.searchBox.inptSearchBox}}" class="searchtext" type="text">
</md-input-container>


<md-icon hide-gt-xs layout-fill>
    <md-menu-bar>
        <md-menu md-offset="0 15">
            <button  ng-click="$mdOpenMenu()"><i class="material-icons">view_module</i></button>
            <md-menu-content class="grid-2">
                <md-menu-item>
                    <md-button><i class="material-icons">settings</i>Ayarlar</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button><i class="material-icons">home</i>anasayfa</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button><i class="material-icons">settings</i>Ayarlar</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button><i class="material-icons">settings</i>Ayarlar</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button><i class="material-icons">settings</i>Ayarlar</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button><i class="material-icons">settings</i>Ayarlar</md-button>
                </md-menu-item>

            </md-menu-content>
        </md-menu>
    </md-menu-bar>
</md-icon>


<md-icon hide-xs ng-disabled="searchInput" layout-fill ng-click="searchAdress(searchInput)">
    <i layout-padding class="material-icons">search</i>
    <md-tooltip>{{lang.searchBox.btnSearch}}</md-tooltip>
</md-icon>

<md-icon  layout-fill hide-xs>

    <md-tooltip>{{lang.searchBox.btnLayer}}</md-tooltip>
    <md-menu-bar>
        <md-menu md-offset="-272 10">
            <button id="layerIcon" ng-click="$mdOpenMenu()"><i class="material-icons">layers</i></button>
            <md-menu-content border-radius="1" style="padding-top: 0; padding-bottom: 1px;" md-whiteframe="24" layout-padding>
                <table-page ng-include="'html/table.html'"></table-page>
            </md-menu-content>
        </md-menu>
    </md-menu-bar>
</md-icon>