<md-toast id="findbusandminibus" layout="column">
    <div class="md-toast-content" layout-padding>

        <form>
            <md-toolbar md-ink-ripple>
                <div  class="md-toolbar-tools padding-2">
                    <h2>
                        <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img"
                                 aria-hidden="true">directions_bus
                        </md-icon>
                        <span layout-padding  class="md-subhead"
                              style="color: #ffffff;">{{lang.menuToasts.transport.busmini.label}}</span>
                    </h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="style:100%">
                <md-content style="max-height: 45vh">
                    <md-list>
                        <md-list-item>
                            <md-input-container class="certainly-full" layout-fill>
                                <md-select ng-model="secilenIl" placeholder="{{lang.menuToasts.general.provinceList}}">
                                    <md-select-header>
                                        <span> {{lang.menuToasts.general.provinces}} </span>
                                    </md-select-header>
                                    <md-option ng-value="deger.id" ng-click="changeIlce(deger.id)"
                                               ng-repeat="(ozellik, deger) in il" ng-selected="deger.id == secilenIl">
                                        {{deger.label}}
                                    </md-option>

                                </md-select>
                                {{navbarCtrl.ilce}}
                            </md-input-container>

                        </md-list-item>
                        <md-list-item>
                            <md-input-container class="certainly-full" layout-fill>
                                <md-select ng-model="autoCarTypeSelect" ng-change="setautoCarTypeSelect()"
                                           placeholder="{{lang.menuToasts.transport.busmini.autoCarTypeName}}">
                                    <md-select-header>
                                        <span>{{lang.menuToasts.transport.busmini.autoCarTypeName}}</span>
                                    </md-select-header>
                                    <md-option ng-value="deger.value"
                                               ng-repeat="(ozellik, deger) in autoCarType">
                                        {{deger.text}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-list-item>
                        <md-list-item>
                            <md-autocomplete md-floating-label="{{lang.menuToasts.transport.busmini.lineNumberName}}" md-selected-item-change="selectNewBusLine()" layout-fill
                                             md-selected-item="selectedLineNumber"
                                             md-search-text="searchText" md-items="item in queryLineNumber(searchText)"
                                             md-item-text="item">
                                <span md-highlight-text="searchText">{{item}}</span>
                                <md-not-found>
                                    {{lang.general.notfound}}
                                </md-not-found>
                            </md-autocomplete>
                        </md-list-item>
                        <md-list-item ng-if="busStopActive">
                            <md-input-container class="certainly-full" layout-fill>
                                <md-select ng-model="busStop"
                                           placeholder="{{lang.menuToasts.transport.busmini.pointShow}}">
                                    <md-select-header>
                                        <span>{{lang.menuToasts.transport.busmini.autoCarTypeName}}</span>
                                    </md-select-header>
                                    <md-option ng-mouseover="showBusPoint(deger.value,false);"
                                               ng-click="showBusPoint(deger.value,true);" ng-value="deger.value"
                                               ng-repeat="(ozellik, deger) in busStopList">
                                        {{deger.text}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                        </md-list-item>


                        <md-list-item>
                            <md-input-container class="certainly-full">
                                <md-switch ng-change="setshowNearBusSwitch(showNearBusSwitch)" ng-model="showNearBusSwitch">
                                    {{showNearBusSwitch==true ?
                                    lang.menuToasts.transport.busmini.nearPoints1:lang.menuToasts.transport.busmini.nearPoints2}}
                                </md-switch>
                            </md-input-container>
                        </md-list-item>

                    </md-list>


                </md-content>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised searchButton md-button md-ink-ripple md-button" ng-click="searchFindBusMiniBus()">
                    <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img" aria-hidden="true">
                        search
                    </md-icon>
                    {{lang.general.search}}
                </md-button>

                <md-button class="md-raised closeButton md-button md-ink-ripple md-button" ng-click="cancel()"
                           style="margin-right:20px;">
                    {{lang.general.close}}
                </md-button>
            </md-dialog-actions>

        </form>

    </div>

</md-toast>