<md-toast id="findProprietary">
    <div class="md-toast-content" layout-padding>
        <form>
            <md-toolbar md-ink-ripple>
                <div class="md-toolbar-tools">
                    <h2>
                        <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img"
                                 aria-hidden="true">dashboard
                        </md-icon>
                        <span class="md-subhead"
                              style="color: #ffffff;">{{lang.menuToasts.proprietaryBuild.label}}</span></h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon style="padding: 7px;" md-svg-src="img/icons/cancel.svg"
                                 aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content layout-fill>

                <md-list>
                    <md-list-item>
                        <md-input-container layout-fill>
                            <md-select ng-model="build"
                                       placeholder="{{lang.menuToasts.proprietaryBuild.mdselect1placeholder}}">
                                <md-select-header>
                                    <span>{{lang.menuToasts.proprietaryBuild.mdselect1placeholder}}</span>
                                </md-select-header>
                                <md-option ng-value="opt" ng-repeat="opt in [7,8,9]">{{ opt }}</md-option>
                            </md-select>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container layout-fill>
                            <md-select ng-model="district"
                                       placeholder="{{lang.menuToasts.proprietaryBuild.mdselect2placeholder}}">
                                <md-select-header>
                                    <span> {{lang.menuToasts.proprietaryBuild.mdselect2placeholder}} </span>
                                </md-select-header>
                                <md-option ng-value="opt" ng-repeat="opt in [7,8,9]">{{ opt }}</md-option>
                            </md-select>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container layout-fill>
                            <md-select ng-model="neighborhood"
                                       placeholder="{{lang.menuToasts.proprietaryBuild.mdselect3placeholder}}">
                                <md-select-header>
                                    <span>{{lang.menuToasts.proprietaryBuild.mdselect3placeholder}}</span>
                                </md-select-header>
                                <md-option ng-value="opt" ng-repeat="opt in [7,8,9]">{{ opt }}</md-option>
                            </md-select>
                        </md-input-container>
                    </md-list-item>
                </md-list>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised md-primary md-button md-ink-ripple md-button" ng-click="showTescilli()">
                    <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img" aria-hidden="true">
                        search
                    </md-icon>
                    {{lang.general.search}}
                </md-button>
                <md-button class="md-raised md-warn md-button md-ink-ripple md-button" ng-click="cancel()"
                           style="margin-right:20px;">
                    {{lang.general.close}}
                </md-button>
            </md-dialog-actions>
            <md-dialog-content ng-if="taxiSearchResults" layout-fill>
                <md-list>
                    <md-list-item>

                    </md-list-item>
                </md-list>
            </md-dialog-content>
        </form>
    </div>

</md-toast>