<md-toast id="findbusandminibus">
    <div class="md-toast-content" layout-padding>

        <form>
            <md-toolbar md-ink-ripple>
                <div class="md-toolbar-tools">
                    <h2>
                        <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img"
                                 aria-hidden="true">location_on
                        </md-icon>
                        <span class="md-subhead"
                              style="color: #ffffff;">Google ile POI Noktası Bulma</span>
                    </h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="style:100%">
                <md-content style="max-height: 45vh">
                    <md-list>



                        <md-list-item>
                            <md-autocomplete style="width:100%;"
                                    md-selected-item-change="selectGooglePlace(item)"
                                    placeholder="Bir Yer Arayın"
                                    md-items="item in loadGooglePlaces(filterText)"
                                    md-item-text="item.text"
                                    md-search-text="filterText">
                                <md-item-template>{{ item.text }}</md-item-template>
                                <md-not-found>No items.</md-not-found>
                            </md-autocomplete>
                        </md-list-item>


                        <md-list-item>
                            <md-input-container style="margin: 0;">
                                <md-switch style="margin: 0;" ng-click="poiLocActChange();" ng-model="locationActive">Yakında Arama Özeliği {{poiGoogleNearestSrch ? "Açık":"Kapalı"}}</md-switch>
                            </md-input-container>
                        </md-list-item>



                        <md-list-item>
                            <md-input-container style="margin: 0; margin-bottom: 15px;">
                                <md-switch style="margin: 0;" ng-click="poiClickChange();" ng-model="poiClickMapActive">{{findOnClick ? "Ekranda Tıklayarak Bulma açık":"Ekranda Tıklayarak Bulma kapalı"}}</md-switch>
                            </md-input-container>
                        </md-list-item>



                        <md-list-item>
                            <md-input-container layout-fill>
                                <input type="number" ng-keyup="googleSearchPOIRadius()" ng-model="poiRadius" placeholder="Arama Yarıçapı (m)">
                            </md-input-container>
                        </md-list-item>



                        <md-list-item>
                            <md-input-container layout-fill>
                                <md-select ng-model="poiMainType"
                                           placeholder="POI Ana Türleri">
                                    <md-select-header>
                                        <span>POI Ana Türü Seçiniz</span>
                                    </md-select-header>
                                    <md-option ng-click="changePOISecTypes(deger.value);" ng-selected="deger.status" ng-value="deger.value"
                                               ng-repeat="(ozellik, deger) in placesMainType">
                                        {{deger.text}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-list-item>

                        <md-list-item>
                            <md-input-container layout-fill ng-if="poiSecTypeActive">
                                <md-select ng-model="poiSecType"
                                           placeholder="POI Alt Türleri">
                                    <md-select-header>
                                        <span>POI Alt Türleri</span>
                                    </md-select-header>
                                    <md-option ng-click="changePOISec(deger.value);" ng-selected="deger.status" ng-value="deger.value"
                                               ng-repeat="(ozellik, deger) in poiSecType">
                                        {{deger.text}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-list-item>

                    </md-list>


                </md-content>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised searchButton md-button md-ink-ripple md-button" ng-click="searchPOIGoogle()">
                    <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img" aria-hidden="true">
                        search
                    </md-icon>
                    {{lang.general.search}}
                </md-button>

                <md-button class="md-raised closeButton md-button md-ink-ripple md-button" ng-click="cancel()"
                           style="margin-right:20px;">
                    {{lang.general.close}}
                </md-button>
            </md-dialog-actions>


            <md-dialog-content ng-if="totalGooglePointsActive" layout-fill>
                <md-list>
                    <md-list-item style="padding: 12px;" ng-repeat="(i,obj) in totalGooglePoints | reverse">
                        <div flex="70">{{obj.name}}</div>
                        <div flex="15">
                            <md-button style="margin:0;" md-ink-ripple class="md-fab md-mini"
                                       ng-click="showMarkerPoiGoogle(obj.location);">
                                <md-icon style="color:#757575;" role="img" aria-hidden="true"
                                         class="ng-scope material-icons">location_on
                                </md-icon>
                            </md-button>
                        </div>
                        <div flex="15">
                            <md-button style="margin:0;" md-ink-ripple class="md-fab md-mini"
                                       ng-click="navigatePoiGoogle(obj.location);">
                                <md-icon style="color:#757575;" role="img" aria-hidden="true"
                                         class="ng-scope material-icons">navigation
                                </md-icon>
                            </md-button>
                        </div>
                    </md-list-item>
                </md-list>
            </md-dialog-content>

        </form>

    </div>

</md-toast>