<md-toast id="findShipToast">
    <div class="md-toast-content" layout-padding>

        <form>
            <md-toolbar md-ink-ripple>
                <div class="md-toolbar-tools">
                    <h2>
                        <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img"
                                 aria-label="close" aria-hidden="true">local_airport
                        </md-icon>
                        <span class="md-subhead"
                              style="color: #ffffff;">{{lang.menuToasts.transport.aircraft.label}}</span>
                    </h2>
                    <span flex></span>
                    <md-icon>
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" ng-click="cancel()"
                                 aria-label="Close dialog"></md-icon>
                    </md-icon>
                    <md-toggle-toast></md-toggle-toast>
                </div>
            </md-toolbar>
            <md-dialog-content style="style:100%">
                <md-content style="max-height: 45vh">

                    <md-list>
                        <md-list-item>
                            <md-input-container class="certainly-full" layout-fill>
                                <md-select ng-model="secilenIl" placeholder="{{lang.menuToasts.general.provinceList}}">
                                    <md-select-header>
                                        <span> {{lang.menuToasts.general.provinces}} </span>
                                    </md-select-header>
                                    <md-option ng-value="deger.id" ng-click="changeIlce(deger.id); filterAirports(deger.id);"
                                               ng-repeat="(ozellik, deger) in il" ng-selected="deger.id == secilenIl">
                                        {{deger.label}}
                                    </md-option>

                                </md-select>
                                {{navbarCtrl.ilce}}
                            </md-input-container>

                        </md-list-item>


                        <md-list-item ng-if="airportActive">
                            <md-input-container class="certainly-full"  layout-fill>
                                <md-select ng-model="airport"
                                           placeholder="{{lang.menuToasts.transport.aircraft.chooseAirports}}">
                                    <md-select-header>
                                        <span>{{lang.menuToasts.transport.aircraft.chooseAirports}}</span>
                                    </md-select-header>
                                    <md-option ng-click="selectAirport(deger.value)" ng-value="deger.value"
                                               ng-repeat="(ozellik, deger) in airportList">
                                        {{deger.text}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-list-item>


                        <md-list-item ng-if="airportInfo">
                            <md-input-container class="certainly-full" layout-fill>
                                <md-select ng-model="flightType"
                                           placeholder="{{lang.menuToasts.transport.aircraft.flightTypePH}}">
                                    <md-select-header>
                                        <span>{{lang.menuToasts.transport.aircraft.flightTypePH}}</span>
                                    </md-select-header>
                                    <md-option ng-click="selectFlightType(deger.value);" ng-value="deger.value"
                                               ng-repeat="(ozellik, deger) in lang.menuToasts.transport.aircraft.flightType">
                                        {{deger.text}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-list-item>

                        <md-list-item ng-if="airportInfo">
                            <md-input-container class="certainly-full" layout-fill>
                                <md-select ng-model="passengerType"
                                           placeholder="{{lang.menuToasts.transport.aircraft.passengerTypePH}}">
                                    <md-select-header>
                                        <span>{{lang.menuToasts.transport.aircraft.passengerTypePH}}</span>
                                    </md-select-header>
                                    <md-option ng-click="selectPassengerType(deger.value);" ng-value="deger.value"
                                               ng-repeat="(ozellik, deger) in lang.menuToasts.transport.aircraft.passengerType">
                                        {{deger.text}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-list-item>

                    </md-list>

                    </md-list>


                </md-content>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>

                <md-button class="md-raised searchButton md-button md-ink-ripple md-button" ng-click="showAirportInfo()">
                    <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img" aria-hidden="true">
                        search
                    </md-icon>
                    {{lang.general.search}}
                </md-button>

                <md-button class="md-raised closeButton md-button md-ink-ripple md-button" ng-click="cancel()"
                           style="margin-right:20px;">
                    {{lang.general.close}}
                </md-button>
            </md-dialog-actions>

        </form>

    </div>

</md-toast>