<md-toast id="findInstByaddress" layout="column" aria-label="find Inst">
    <div class="md-toast-content" layout-padding>
        <form style="padding: 0;">

            <md-toolbar md-ink-ripple>
                <div class="md-toolbar-tools">
                    <h2>
                        <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img" aria-hidden="true">navigation</md-icon>
                        <span class="md-subhead" style="color: #ffffff;">{{lang.menu.menu12.label}}</span>
                    </h2>
                    <span flex></span>
                   <md-toggle-toast></md-toggle-toast>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon style="padding: 7px;" md-svg-src="img/icons/cancel.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>


            <md-dialog-content layout-fill>
                <md-list>
                    <md-list-item a  style="margin-left: 15px;" flex layout="row">
                        <div flex="10" ng-click="activeInput('start');"><span ng-style="activeInputName === 'start' ? { 'font-weight':'bold', color:'#f44336' } : { 'font-weight':'normal', color:'#2798f3' }">A</span></div>
                            <div flex="75" ng-click="activeInput('start');">
                                <md-autocomplete  style="width:100%;"
                                                  md-selected-item-change="selectGooglePlace(item,'start')"
                                                  placeholder="Bir Yer Arayın"
                                                  md-items="item in navStations.start.placeResult"
                                                  md-search-text-change="loadGooglePlaces(navStations.start.filterText,'start')"
                                                  md-item-text="item.text"
                                                  md-no-cache="1"
                                                  md-search-text="navStations.start.filterText">
                                    <md-item-template>{{ item.text }}</md-item-template>
                                    <md-not-found>No items.</md-not-found>
                                </md-autocomplete>
                            </div>
                            <div flex="15">
                                <md-button ng-click="addCityToNavigation()" class="md-raised  md-warn md-button md-ink-ripple md-button">
                                    <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img" aria-hidden="true">add</md-icon>
                                </md-button>
                            </div>
                    </md-list-item>


                    <md-list-item  layout-align="center center" style="margin-left: 30px;" flex
                                  layout="row"
                                  ng-repeat="data in navStations.waypoint">

                        <div flex="10" ng-click="activeInput($index);"><span ng-style="activeInputName === $index ? { 'font-weight':'bold', color:'#f44336' } : { 'font-weight':'normal', color:'#2798f3' }">{{$index+1}}</span></div>

                        <div flex="75" ng-click="activeInput($index);">

                            <md-autocomplete  style="width:100%;"
                                             md-selected-item-change="selectGooglePlace(item,$index)"
                                             placeholder="Bir Yer Arayın"
                                             md-items="item in navStations.waypoint[$index].placeResult"
                                             md-search-text-change="loadGooglePlaces(navStations.waypoint[$index].filterText,$index)"
                                             md-item-text="item.text"
                                             md-no-cache="true"
                                             md-search-text="navStations.waypoint[$index].filterText">
                                <md-item-template>{{ item.text }}</md-item-template>
                                <md-not-found>No items.</md-not-found>
                            </md-autocomplete>

                        </div>
                        <div flex="15">
                            <md-button ng-click="removeCityToNavigation($index)"  md-ink-ripple>
                                <md-icon class="mat-icon md-warn material-icons accordion-icons ng-binding" role="img"
                                         aria-hidden="true">
                                    delete_forever
                                </md-icon>
                            </md-button>

                            <!--<md-button style="margin: 0; margin-left: 10px;" ng-click="addLocationToNavigation($index)" md-ink-ripple>
                                <md-icon class="mat-icon md-primary material-icons accordion-icons ng-binding" role="img" aria-hidden="true">location_searching</md-icon>
                            </md-button>

                            <md-button style="margin: 0;" ng-click="addMarkerToNavigation($index)" md-ink-ripple>
                                <md-icon class="mat-icon md-primary material-icons accordion-icons ng-binding" role="img" aria-hidden="true">add_location</md-icon>
                            </md-button>-->
                        </div>
                    </md-list-item>

                    <md-list-item  flex layout="row">
                        <div flex="10" ng-click="activeInput('finish');"><span ng-style="activeInputName === 'finish' ? { 'font-weight':'bold', color:'#f44336' } : { 'font-weight':'normal', color:'#2798f3' }">B</span></div>
                        <div flex="80" ng-click="activeInput('finish');">
                            <md-autocomplete  style="width:100%;"
                                             md-selected-item-change="selectGooglePlace(item,'finish')"
                                             placeholder="Bir Yer Arayın"
                                             md-items="item in navStations.finish.placeResult"
                                             md-search-text-change="loadGooglePlaces(navStations.finish.filterText,'finish')"
                                             md-item-text="item.text"
                                             md-no-cache="true"
                                             md-search-text="navStations.finish.filterText">
                                <md-item-template>{{ item.text }}</md-item-template>
                                <md-not-found>No items.</md-not-found>
                            </md-autocomplete>
                        </div>
                    </md-list-item>


                </md-list>


            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>

                <md-button ng-click="startNavigation();" class="md-raised searchButton md-button md-ink-ripple md-button">
                    <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img" aria-hidden="true">
                        navigation
                    </md-icon>
                    Navigasyonu Başlat
                </md-button>



                <md-button ng-click="addLocationToNavigation()" class="md-raised  md-warn md-button md-ink-ripple md-button">
                    <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img" aria-hidden="true">location_searching</md-icon>
                </md-button>

                <md-button ng-click="addMarkerToNavigation()" class="md-raised  md-warn md-button md-ink-ripple md-button">
                    <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img" aria-hidden="true">add_location</md-icon>
                </md-button>

                <md-button class="md-raised closeButton md-button md-ink-ripple md-button" ng-click="cancel()"
                           style="margin-right:20px;">
                    {{lang.general.close}}
                </md-button>
            </md-dialog-actions>
            <md-dialog-content ng-show="moreRouter">

                <md-list>
                    <md-list-item>

                    </md-list-item>
                </md-list>
            </md-dialog-content>


            <md-dialog-content ng-if="way.active" layout-fill>
                <md-list>
                    <md-list-item>
                        <div flex="30">Mesafe</div>
                        <div flex="30">Zaman</div>
                        <div flex="40">Yöntem</div>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-list-item>
                        <div flex="30">{{way.distance}}</div>
                        <div flex="30">{{way.duration}}</div>
                        <div flex="40">{{way.travelMode}}</div>
                    </md-list-item>
                </md-list>
            </md-dialog-content>

        </form>
    </div>

</md-toast>