<md-toast id="findInstByaddress" aria-label="find Inst">
    <div class="md-toast-content" layout-padding>
        <form>
            <md-toolbar md-ink-ripple>
                <div class="md-toolbar-tools">
                    <h2>
                        <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img"
                                 aria-hidden="true">navigation
                        </md-icon>
                        <span class="md-subhead" style="color: #ffffff;">{{lang.menu.menu12.label}}</span></h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon style="padding: 7px;" md-svg-src="img/icons/cancel.svg"
                                 aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content layout-fill>

                <md-list>

                    <md-list-item layout-padding flex layout="row">

                                <div flex="20">A</div>

                                <div flex="65">
                                    <md-input-container layout-fill class="certainly-full">

                                        <input type="text" ng-model="addCityName">
                                    </md-input-container>
                                </div>

                                <div flex="15">

                                    <md-button ng-click="addCityToNavigation(addCityName)" id="rotaPlusIcon" md-ink-ripple
                                               md-whiteframe="2" class="md-fab md-mini">
                                        <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img"
                                                 aria-hidden="true">
                                            add
                                        </md-icon>
                                    </md-button>

                                </div>

                            </md-list-item>


                            <md-list-item layout-align="center center" layout-margin style="border:1px solid #fafafa"  flex layout="row"
                                          ng-repeat="data in arrayPointCity">

                                <div flex="20">{{$index+1}}</div>

                                <div flex="65">
                                    <md-input-container>
                                        {{data}}
                                    </md-input-container>
                                </div>
                                <div flex="15">
                                    <md-button ng-click="removeCityToNavigation($index)"  md-ink-ripple>
                                        <md-icon class="mat-icon md-warn material-icons accordion-icons ng-binding" role="img"
                                                 aria-hidden="true">
                                            delete_forever
                                        </md-icon>
                                    </md-button>
                                    <md-divider></md-divider>
                                </div>





                            <!--son-->
                    </md-list-item>

                    <md-list-item layout-padding flex layout="row">

                        <div flex="20">B</div>

                        <div flex="65">
                            <md-input-container layout-fill class="certainly-full">

                                <input type="text" ng-model="Bcity">
                            </md-input-container>
                        </div>

                        <div flex="15">

                            <md-button  id="rotaPlusIcon" md-ink-ripple
                                       md-whiteframe="2" class="md-fab md-mini">
                                <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img"
                                         aria-hidden="true">

                                </md-icon>
                            </md-button>
                        </div>

                    </md-list-item>


                </md-list>


            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>

                <md-button class="md-raised searchButton md-button md-ink-ripple md-button">
                    <md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img" aria-hidden="true">
                        search
                    </md-icon>
                    {{lang.general.search}}
                </md-button>

                <md-button ng-click="moreRouter=!moreRouter"
                           class="md-raised  md-warn md-button md-ink-ripple md-button">
                    <md-icon ng-style="moreRouter ? {'transform': 'rotate(180deg)'}:{'transform': 'rotate(0deg)'}"
                             class="mat-icon material-icons accordion-icons ng-binding" role="img" aria-hidden="true">
                        expand_more
                    </md-icon>
                </md-button>

                <md-button class="md-raised closeButton md-button md-ink-ripple md-button" ng-click="cancel()"
                           style="margin-right:20px;">
                    {{lang.general.close}}
                </md-button>
            </md-dialog-actions>
            <md-dialog-content ng-show="moreRouter">

                <md-list>
                    <md-list-item>

                    </md-list-item>
                </md-list>
            </md-dialog-content>

        </form>
    </div>

</md-toast>