<md-toast id="findInstByaddress" aria-label="find Inst">
    <div class="md-toast-content" layout-padding>
        <form>
            <md-toolbar  md-ink-ripple>
                <div class="md-toolbar-tools">
                    <h2><md-icon class="mat-icon material-icons accordion-icons ng-binding" role="img" aria-hidden="true">local_florist</md-icon>
                        <span class="md-subhead" style="color: #ffffff;">{{lang.menu.menu10.menu1e5}}</span></h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
           <md-dialog-content>



           </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>




                <md-button class="md-raised closeButton md-button md-ink-ripple md-button" ng-click="cancel()"
                           style="margin-right:20px;">
                    {{lang.general.close}}
                </md-button>
            </md-dialog-actions>

        </form>

    </div>

</md-toast>